.App.container {
  background-color: #cdcdcd;
  padding: 0px;
  margin-top: -20px;
  padding-top: 0px;
}

.App.content {
  max-width: 800px;
  background-color: #ffffff;
  margin: 0px auto;
  min-height: 100vh;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  padding: 0px 20px 0px 20px;
}

h4 {
  margin: 0px;
}
